@import "_default";

body {
    overflow-x: hidden;
    background-color: #ffffff;
    .banner {
        width: 100%;
        height: calc(100vh - calc(4rem + 4px));

        position: relative; 
        display: flex;

        flex-direction: column;
        justify-content: start;
        align-items: center;

        background-color: black;
        isolation: isolate;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 5px;
            z-index: -1;
            opacity: 0.7;

            background-image: url("/files/hero_banner.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        padding-block: 2rem;

        img {
            height: 12rem;
            width: 12rem;

            margin-bottom: 5rem;
        }

        h1 {
            font-size: 5rem;
            color: white;
            font-weight: 900;
        }

        .subtext {
            font-size: 1.4rem;
            color: #eee;
        }

        button {
            margin-top: 5rem;
            height: 5rem;
            font-size: 2rem;
            padding-inline: 1ch;

            border-radius: 10px;
            border: none;

            box-shadow: 0 0 0.6rem 0.4rem black;

            background-color: $inv-blue;
            color: white;
        }
        button:hover {
            opacity: 60%;
        }
    }
}

.main {
    padding-block: 4rem;
    padding-inline: max(2rem, calc(15vw - 5rem));
    width: 100vw;


    h2 {
        color: $inv-orange;
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .split {
        display: flex;
        flex-direction: row;
        gap: 7rem;

        // align-items: center;

        p {
            width: 180ch;
            font-size: 1.1rem;
            line-height: 1.4rem;
        }

        img {
            width: 60rem;
            border: solid 3px black;
        }
    }

}

.about_us {
    border-top: solid black 3px;
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: right;

    h2 {
        text-align: center;
        position: relative;
        left: 15rem;
    }

    p {
        text-align: left;
    }
}

// @media only screen and (max-width: 1000px) {
//     .outline {padding-inline: 5vw;}
// }