<link rel="stylesheet" href="styles/footer.css">
<section class="footer">
    <img src="/files/inv-color-logo.png" alt="inventure logo">
    <p>
        Inventure Academy, Whitefield
        SH 35, Near Dommasandra Circle,
        Kachamaranahalli, Bengaluru,
        Karnataka 562125
    </p>
    <div class="contactinfo">

    </div>
</section>