<link rel="stylesheet" href="styles/footer.css">
<section class="footer">
    <img class="big-logo" src="/files/inv-color-logo.png" alt="inventure logo">
    <p>
        Inventure Academy, Whitefield,<br>
        SH 35, Near Dommasandra Circle,<br>
        Kachamaranahalli, Bengaluru,<br>
        Karnataka 562125<br>
    </p>
    <div class="contactinfo">
        <a href=""><img src="/files/icons/facebook.png" alt="facebook"><div>facebook</div></a>
        <a href=""><img src="/files/icons/twitter.png" alt="twitter"><div>twitter</div></a>
        <a href=""><img src="/files/icons/youtube.png" alt="youtube"><div>youtube</div></a>
        <a href=""><img src="/files/icons/linkedin.png" alt="linkedin"><div>linkedin</div></a>
        <a href=""><img src="/files/icons/instagram.png" alt="instagram"><div>instagram</div></a>
    </div>    
    <div class="contactinfo long">
        <a href=""><img src="/files/icons/phone.png" alt="phone"><div>+91 9158963155</div></a>
        <a href=""><img src="/files/icons/mail.png" alt="email"><div>info@inventureacademy.com</div></a>
    </div>
</section>