<link rel="stylesheet" href="styles/navbar.css">
<div class="navbar">
    <div></div>
    <img src="files/inventure-logo.png" alt="inventure logo">
    <img src="files/invision-logo.png" alt="">
    <div></div>
    <button class="dropdown">sports 
        <span>
            <svg fill=white width="16" height="16" viewBox="0 -6 524 524" xmlns="http://www.w3.org/2000/svg">
                <path d="m64 191 34-34 164 163 164-163 34 34-198 196L64 191Z"/>
            </svg>
        </span>
            <div class="content">
                <a href="/event/sports/football">football</a>
                <a href="/event/sports/basketball">basketball</a>
                <a href="/event/sports/cricket">cricket</a>
                <a href="/event/sports/table tennis">table tennis</a>
                <a href="/event/sports/athletics">athletics </a>
                <a href="/event/sports/tennis">tennis</a>
            </div>
    </button>
    <button class="dropdown">BA 
        <span>
            <svg fill=white width="16" height="16" viewBox="0 0 524 524" xmlns="http://www.w3.org/2000/svg">
                <path d="m64 191 34-34 164 163 164-163 34 34-198 196L64 191Z"/>
            </svg>
        </span>
            <div class="content wide">
                <a href="/event/ba/dance">battle of the bands</a>
                <a href="/event/ba/music">dance</a>
                <a href="/event/ba/art">CMC</a>
                <a href="/event/ba/photography">photography</a>
                <a href="/event/ba/martial arts">fashion</a>
                <a href="/event/ba/martial arts">crucible talks</a>
            </div>
    </button>
    <button>sponsers</button>
    <button>about us</button>
    <button>faq</button>
    <button>register now</button>

    <div style="height: calc(4rem + 4px);"></div>
</div>