<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invsion</title>

    <link rel="shortcut icon" href="files/invision.ico">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="banner">
        <img src="/files/invision-logo.png" alt="invision-logo">
        <h1>INVISION 2023</h1>
        <div class="subtext">December 12th - 19th</div>
        <button>Register Now</button>
    </div>

    <section class="main">
        <h2>Outline of invision 2023</h2>
        <div class="split">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt non nobis aperiam vitae, aut optio dolore hic, reprehenderit excepturi qui fugit cupiditate itaque temporibus libero ipsa. Numquam, sint enim?
            Provident impedit quaerat excepturi. Praesentium, nihil, laborum delectus quae deserunt incidunt quisquam sapiente reprehenderit rerum adipisci deleniti ipsam ullam, ipsum perspiciatis neque sunt cum sint doloremque molestias assumenda eum doloribus.
            Error non cum id provident animi, eligendi consequuntur temporibus distinctio, ut ullam, obcaecati architecto commodi autem officia quo perferendis nam impedit hic voluptatibus aperiam tempora asperiores! Iste at corrupti pariatur!</p>
            <img src="files/placeholder.png" alt="idk rn">
        </div>
    </section>

    <section class="main about_us">
        <h2>About Us</h2>
        <div class="split">
            <img src="files/placeholder.png" alt="idk rn">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt non nobis aperiam vitae, aut optio dolore hic, reprehenderit excepturi qui fugit cupiditate itaque temporibus libero ipsa. Numquam, sint enim?
            Provident impedit quaerat excepturi. Praesentium, nihil, laborum delectus quae deserunt incidunt quisquam sapiente reprehenderit rerum adipisci deleniti ipsam ullam, ipsum perspiciatis neque sunt cum sint doloremque molestias assumenda eum doloribus.
            Error non cum id provident animi, eligendi consequuntur temporibus distinctio, ut ullam, obcaecati architecto commodi autem officia quo perferendis nam impedit hic voluptatibus aperiam tempora asperiores! Iste at corrupti pariatur!</p>
        </div>
    </section>

    <%- include('partials/footer.ejs') %>
</body>
</html>